:root {
  --clerk-color-primary: #171717;
  --clerk-color-primary-foreground: #FAFAFA;
  --clerk-color-danger: #E7000B;
  --clerk-color-success: #22C543;
  --clerk-color-warning: #F36B16;
  --clerk-color-neutral: #0A0A0A;
  --clerk-color-foreground: #0A0A0A;
  --clerk-color-muted-foreground: #737373;
  --clerk-color-background: #FFFFFF;
  --clerk-color-input: #E5E5E5;
  --clerk-color-input-foreground: #0A0A0A;
  --clerk-color-ring: #A1A1A1;
  --clerk-color-shimmer: #FFFFFF;
  --clerk-color-modal-backdrop: #000000;
  --clerk-border-radius: 0.5rem;
  --clerk-spacing: 0.875rem;
  --clerk-color-muted: #F5F5F5;
}

.dark {
  --clerk-color-primary: #DB202C;
  --clerk-color-primary-foreground: #171717;
  --clerk-color-danger: #FF6467;
  --clerk-color-success: #22C543;
  --clerk-color-warning: #F36B16;
  --clerk-color-neutral: #FAFAFA;
  --clerk-color-foreground: #DB202C;
  --clerk-color-muted-foreground: #A1A1A1;
  --clerk-color-background: #171717;
  --clerk-color-input: #FFFFFF;
  --clerk-color-input-foreground: #FAFAFA;
  --clerk-color-ring: #737373;
  --clerk-color-shimmer: #FFFFFF;
  --clerk-color-modal-backdrop: #000000;
  --clerk-border-radius: 0.5rem;
  --clerk-spacing: 0.875rem;
  --clerk-color-muted: #262626;
}

@import "tailwindcss";
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
  }
}
